[submodule "FilePicker"]
	path = FilePicker
	url = git@github.com:TonicArtos/FilePicker.git
[submodule "drag-sort-listview"]
	path = drag-sort-listview
	url = git@github.com:Otago-PsyAn-Lab/drag-sort-listview.git
